*{
    margin: 0px;
    /* background-color: beige; */
}

header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(10, 41, 71);
    box-shadow: 5px 5px 5px black;

}
img{
    height: 100px;
    width: 100px;
    border: 0px solid black;
}
main{margin: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
    
}
.outerdiv{
border: 2px solid black;
border-radius: 20px;
height: 300px;
box-shadow: 10px 10px 10px black;
color: black;
text-decoration: none;
display: flex;
flex-direction: column;
justify-content: center; 
 align-items: center;
background-color: rgb(211, 212, 192);
}
.searchbox{
    height: 50px;
    width: 800px;
    position: absolute;
    z-index: 1000;
    border: 2px solid black;
border-radius: 50px;
}


.search{
position: relative;
margin-right: 100px;
height: 50px;
width: 800px;
box-shadow: 10px 10px 5px rgb(0, 0, 0);
border: 2px solid black;
border-radius: 50px;
}
.suggest{
    margin: 60px;
}
.suggestion{
    height: 30px;
    width: 600px;
    background-color: rgb(10, 41, 71);
    display: block;
    color: white;
    text-decoration: none;
}
.info{
    height: 50px;
    width: 80px;
    border-radius: 20px;
    background-color: beige;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 2px white;
    
   
}
.ainfo{
     color: black;
    text-decoration: none;
margin: 10px;
font-weight: 900;
}
